@import "@fortawesome/fontawesome-free/css/all.min.css";

@layer tailwind {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
}

:root {
    background-color: var(--surface-ground);
}

.p-button-icon {
    min-width: 16px;
}

.p-button-link {
    padding: 0 !important;
}

.p-toast {
    max-width: calc(100vw - 40px);
}

.surface-ground {
    background-color: var(--surface-ground)
}

.surface-overlay {
    background-color: var(--surface-overlay);
}

.page-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .page-container {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .page-container {
        max-width: 100%;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (min-width: 1280px) {
    .page-container {
        max-width: 1280px
    }
}
